body{
    display: flex;
    justify-content: center;
    padding-top: 230px;
}
.hello{
    background-color: rgb(104, 170, 150);
    border-radius: 10px;
    width: 250px;
    height: 250px;
    
}